0x01-python_async_function/.mypy_cache/3.8/_ast.data.json
0x01-python_async_function/.mypy_cache/3.8/_ast.meta.json
0x01-python_async_function/.mypy_cache/3.8/_importlib_modulespec.data.json
0x01-python_async_function/.mypy_cache/3.8/_importlib_modulespec.meta.json
0x01-python_async_function/.mypy_cache/3.8/_random.data.json
0x01-python_async_function/.mypy_cache/3.8/_random.meta.json
0x01-python_async_function/.mypy_cache/3.8/_thread.data.json
0x01-python_async_function/.mypy_cache/3.8/_thread.meta.json
0x01-python_async_function/.mypy_cache/3.8/@plugins_snapshot.json
0x01-python_async_function/.mypy_cache/3.8/0-basic_async_syntax.data.json
0x01-python_async_function/.mypy_cache/3.8/0-basic_async_syntax.meta.json
0x01-python_async_function/.mypy_cache/3.8/abc.data.json
0x01-python_async_function/.mypy_cache/3.8/abc.meta.json
0x01-python_async_function/.mypy_cache/3.8/array.data.json
0x01-python_async_function/.mypy_cache/3.8/array.meta.json
0x01-python_async_function/.mypy_cache/3.8/ast.data.json
0x01-python_async_function/.mypy_cache/3.8/ast.meta.json
0x01-python_async_function/.mypy_cache/3.8/builtins.data.json
0x01-python_async_function/.mypy_cache/3.8/builtins.meta.json
0x01-python_async_function/.mypy_cache/3.8/codecs.data.json
0x01-python_async_function/.mypy_cache/3.8/codecs.meta.json
0x01-python_async_function/.mypy_cache/3.8/contextvars.data.json
0x01-python_async_function/.mypy_cache/3.8/contextvars.meta.json
0x01-python_async_function/.mypy_cache/3.8/enum.data.json
0x01-python_async_function/.mypy_cache/3.8/enum.meta.json
0x01-python_async_function/.mypy_cache/3.8/io.data.json
0x01-python_async_function/.mypy_cache/3.8/io.meta.json
0x01-python_async_function/.mypy_cache/3.8/mmap.data.json
0x01-python_async_function/.mypy_cache/3.8/mmap.meta.json
0x01-python_async_function/.mypy_cache/3.8/posix.data.json
0x01-python_async_function/.mypy_cache/3.8/posix.meta.json
0x01-python_async_function/.mypy_cache/3.8/queue.data.json
0x01-python_async_function/.mypy_cache/3.8/queue.meta.json
0x01-python_async_function/.mypy_cache/3.8/random.data.json
0x01-python_async_function/.mypy_cache/3.8/random.meta.json
0x01-python_async_function/.mypy_cache/3.8/selectors.data.json
0x01-python_async_function/.mypy_cache/3.8/selectors.meta.json
0x01-python_async_function/.mypy_cache/3.8/socket.data.json
0x01-python_async_function/.mypy_cache/3.8/socket.meta.json
0x01-python_async_function/.mypy_cache/3.8/ssl.data.json
0x01-python_async_function/.mypy_cache/3.8/ssl.meta.json
0x01-python_async_function/.mypy_cache/3.8/string.data.json
0x01-python_async_function/.mypy_cache/3.8/string.meta.json
0x01-python_async_function/.mypy_cache/3.8/sys.data.json
0x01-python_async_function/.mypy_cache/3.8/sys.meta.json
0x01-python_async_function/.mypy_cache/3.8/threading.data.json
0x01-python_async_function/.mypy_cache/3.8/threading.meta.json
0x01-python_async_function/.mypy_cache/3.8/time.data.json
0x01-python_async_function/.mypy_cache/3.8/time.meta.json
0x01-python_async_function/.mypy_cache/3.8/types.data.json
0x01-python_async_function/.mypy_cache/3.8/types.meta.json
0x01-python_async_function/.mypy_cache/3.8/typing.data.json
0x01-python_async_function/.mypy_cache/3.8/typing.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/__init__.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/__init__.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/base_events.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/base_events.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/coroutines.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/coroutines.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/events.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/events.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/exceptions.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/exceptions.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/futures.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/futures.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/locks.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/locks.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/protocols.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/protocols.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/queues.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/queues.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/runners.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/runners.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/streams.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/streams.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/subprocess.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/subprocess.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/tasks.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/tasks.meta.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/transports.data.json
0x01-python_async_function/.mypy_cache/3.8/asyncio/transports.meta.json
0x01-python_async_function/.mypy_cache/3.8/collections/__init__.data.json
0x01-python_async_function/.mypy_cache/3.8/collections/__init__.meta.json
0x01-python_async_function/.mypy_cache/3.8/collections/abc.data.json
0x01-python_async_function/.mypy_cache/3.8/collections/abc.meta.json
0x01-python_async_function/.mypy_cache/3.8/concurrent/__init__.data.json
0x01-python_async_function/.mypy_cache/3.8/concurrent/__init__.meta.json
0x01-python_async_function/.mypy_cache/3.8/concurrent/futures/__init__.data.json
0x01-python_async_function/.mypy_cache/3.8/concurrent/futures/__init__.meta.json
0x01-python_async_function/.mypy_cache/3.8/concurrent/futures/_base.data.json
0x01-python_async_function/.mypy_cache/3.8/concurrent/futures/_base.meta.json
0x01-python_async_function/.mypy_cache/3.8/concurrent/futures/process.data.json
0x01-python_async_function/.mypy_cache/3.8/concurrent/futures/process.meta.json
0x01-python_async_function/.mypy_cache/3.8/concurrent/futures/thread.data.json
0x01-python_async_function/.mypy_cache/3.8/concurrent/futures/thread.meta.json
0x01-python_async_function/.mypy_cache/3.8/ctypes/__init__.data.json
0x01-python_async_function/.mypy_cache/3.8/ctypes/__init__.meta.json
0x01-python_async_function/.mypy_cache/3.8/importlib/__init__.data.json
0x01-python_async_function/.mypy_cache/3.8/importlib/__init__.meta.json
0x01-python_async_function/.mypy_cache/3.8/importlib/abc.data.json
0x01-python_async_function/.mypy_cache/3.8/importlib/abc.meta.json
0x01-python_async_function/.mypy_cache/3.8/logging/__init__.data.json
0x01-python_async_function/.mypy_cache/3.8/logging/__init__.meta.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/__init__.data.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/__init__.meta.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/connection.data.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/connection.meta.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/context.data.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/context.meta.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/managers.data.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/managers.meta.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/pool.data.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/pool.meta.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/process.data.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/process.meta.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/queues.data.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/queues.meta.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/shared_memory.data.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/shared_memory.meta.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/spawn.data.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/spawn.meta.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/synchronize.data.json
0x01-python_async_function/.mypy_cache/3.8/multiprocessing/synchronize.meta.json
0x01-python_async_function/.mypy_cache/3.8/os/__init__.data.json
0x01-python_async_function/.mypy_cache/3.8/os/__init__.meta.json
0x01-python_async_function/.mypy_cache/3.8/os/path.data.json
0x01-python_async_function/.mypy_cache/3.8/os/path.meta.json
0x01-python_async_function/.mypy_cache/3.8/1-concurrent_coroutines.data.json
0x01-python_async_function/.mypy_cache/3.8/1-concurrent_coroutines.meta.json
0x01-python_async_function/__pycache__/0-basic_async_syntax.cpython-38.pyc
0x01-python_async_function/__pycache__/1-concurrent_coroutines.cpython-38.pyc
0x01-python_async_function/.mypy_cache/3.8/2-measure_runtime.data.json
0x01-python_async_function/.mypy_cache/3.8/2-measure_runtime.meta.json
0x01-python_async_function/__pycache__/2-measure_runtime.cpython-38.pyc
0x01-python_async_function/.mypy_cache/3.8/3-tasks.data.json
0x01-python_async_function/.mypy_cache/3.8/3-tasks.meta.json
0x01-python_async_function/__pycache__/3-tasks.cpython-38.pyc
0x01-python_async_function/.mypy_cache/3.8/4-tasks.data.json
0x01-python_async_function/.mypy_cache/3.8/4-tasks.meta.json
0x01-python_async_function/__pycache__/4-tasks.cpython-38.pyc
0x02-python_async_comprehension/.mypy_cache/3.8/_ast.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/_ast.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/_importlib_modulespec.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/_importlib_modulespec.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/_random.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/_random.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/_thread.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/_thread.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/@plugins_snapshot.json
0x02-python_async_comprehension/.mypy_cache/3.8/0-async_generator.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/0-async_generator.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/abc.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/abc.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/array.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/array.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/ast.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/ast.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/builtins.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/builtins.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/codecs.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/codecs.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/contextvars.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/contextvars.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/enum.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/enum.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/io.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/io.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/mmap.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/mmap.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/posix.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/posix.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/queue.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/queue.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/random.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/random.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/selectors.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/selectors.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/socket.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/socket.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/ssl.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/ssl.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/string.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/string.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/sys.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/sys.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/threading.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/threading.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/time.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/time.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/types.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/types.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/typing.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/typing.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/__init__.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/__init__.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/base_events.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/base_events.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/coroutines.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/coroutines.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/events.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/events.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/exceptions.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/exceptions.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/futures.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/futures.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/locks.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/locks.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/protocols.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/protocols.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/queues.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/queues.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/runners.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/runners.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/streams.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/streams.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/subprocess.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/subprocess.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/tasks.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/tasks.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/transports.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/asyncio/transports.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/collections/__init__.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/collections/__init__.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/collections/abc.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/collections/abc.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/concurrent/__init__.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/concurrent/__init__.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/concurrent/futures/__init__.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/concurrent/futures/__init__.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/concurrent/futures/_base.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/concurrent/futures/_base.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/concurrent/futures/process.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/concurrent/futures/process.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/concurrent/futures/thread.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/concurrent/futures/thread.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/ctypes/__init__.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/ctypes/__init__.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/importlib/__init__.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/importlib/__init__.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/importlib/abc.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/importlib/abc.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/logging/__init__.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/logging/__init__.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/__init__.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/__init__.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/connection.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/connection.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/context.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/context.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/managers.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/managers.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/pool.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/pool.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/process.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/process.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/queues.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/queues.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/shared_memory.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/shared_memory.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/spawn.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/spawn.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/synchronize.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/multiprocessing/synchronize.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/os/__init__.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/os/__init__.meta.json
0x02-python_async_comprehension/.mypy_cache/3.8/os/path.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/os/path.meta.json
0x02-python_async_comprehension/__pycache__/0-async_generator.cpython-38.pyc
0x02-python_async_comprehension/.mypy_cache/3.8/1-async_comprehension.data.json
0x02-python_async_comprehension/.mypy_cache/3.8/1-async_comprehension.meta.json
0x02-python_async_comprehension/__pycache__/1-async_comprehension.cpython-38.pyc
